<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="标签列表" ba-panel-class="with-scroll">

                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text"
                            ng-model="searchValue.value"
                            class="form-control with-danger-addon"
                            placeholder="请输入标签名称..."
                            ng-change="searchValueChange()"
                            >
                        </div>
                        <button class="btn btn-info" ng-click="search()">搜索</button>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        筛选: &nbsp&nbsp&nbsp&nbsp
                        <select style="width: 100px;height:30px"
                                ng-model="searchValue.level" ng-change="filterLevel()" ng-options="x.text for x in levelSearch">
                        </select>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <button class="btn btn-primary" has-permission="article.label:edit" style="float:right" ng-click="addType()">新增标签</button>
                        <!--<div class="btn btn-primary" >-->
                            <!--<button class="btn btn-primary" ng-click="addType()">新增标签</button>-->
                        <!--</div>-->
                    </div>

                </div>

                <table class="table table-bordered table-hover table-condensed">
                    <tbody>
                    <tr>
                        <td></td>
                        <td>标签名</td>
                        <td>级别</td>
                        <td>操作</td>
                    </tr>
                    <tr ng-repeat="type in types"  class="editable-row"  >
                        <td >
                            {{$index}}
                                <span style="display: none"   e-name="id" e-form="rowform" e-required>
                              {{ type.id || '0' }}
                            </span>
                        </td>
                        <td >
                            <span editable-text="type.name"  e-name="name" e-form="rowform" e-required  >
                              {{ type.name || '' }}
                            </span>
                        </td>
                        <td class="select-td" >
                            <span id="{{$index}}_{{type.level}}" editable-select="type.level"  e-name="level" e-form="rowform" e-selectpicker
                                  e-ng-options="s.value as s.text for s in level">
                              {{ showLevel(type) }}
                            </span >
                        </td>

                        <td>
                            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                                  shown="inserted == type" >
                                <button type="submit" ng-click="saveType($index)"  ng-disabled="rowform.$waiting"  class="btn btn-primary editable-table-button btn-xs">
                                    保存
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="cancel(rowform.$cancel())" class="btn btn-default editable-table-button btn-xs">
                                    取消
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button has-permission="article.label:edit" class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">编辑</button>
                                <button has-permission="article.label:delete" class="btn btn-danger editable-table-button btn-xs" ng-click="deleteType($index)">删除</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8" class="text-center">
                            <input class="btn btn-primary" ng-disabled="upAble(page)" type="button" value="上一页" ng-click="btnUp(page)"/>
                            {{page}}/{{totalPage}}
                            <input class="btn btn-primary" ng-disabled="nextAble(page)" type="button" value="下一页" ng-click="btnNext(page)"/>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>