<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-3">
                <input type="text"
                       ng-model="searchNameValue"
                       class="form-control with-danger-addon"
                       placeholder="请输入名称..."
                       ng-change="selectStatus(page,searchNameValue)"
                >
            </div>
        </div>
    </div>

    <div class="col-md-3 text-right">
        <button type="button"
                class="btn btn-info"
                data-toggle="modal"
                ng-click="open('app/pages/content/welcome/welcomeModal.html', 'lg')">
            添加欢迎页
        </button>
    </div>
</div>

<div ba-panel style="margin-top: 10px">


    <table class="table table-bordered table-hover" st-table="smartTableData">

        <thead>
        <tr class="primary">

            <td></td>
            <td>标题</td>
            <td>状态</td>
            <td>排序</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td class="table-id">
                {{$index}}
                <span style="display: none"   e-name="id"  e-required>
                              {{ item.id || '0' }}
                </span>
            </td>
            <td>{{item.title}}</td>
            <td>{{item.status}}</td>
            <td>{{item.orders}}</td>
            <td>{{item.create_date | date:'longDate'}}</td>
            <td>
                <button class="status-button btn btn-xs btn-primary "
                        data-toggle="modal"
                        ng-click="open('app/pages/content/welcome/welcomeModal.html', 'lg',item.id)"
                >
                    编辑
                </button>
                <button class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="open('app/pages/content/welcome/welcomeModal.html', 'lg',item.id)"
                >
                    查看
                </button>
                <button class="status-button btn btn-danger btn-xs btn-success" ng-click="delete(item.id)">删除</button>
            </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td colspan="7" class="text-center">
                <input class="btn btn-primary" type="button" value="上一页" ng-click="btnUp(page-1)"/>
                {{page}}
                <input class="btn btn-primary" type="button" value="下一页" ng-click="btnNext(page)"/>
            </td>
        </tr>
        </tfoot>
    </table>
</div>