<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-3">
                <!--<input type="text"-->
                       <!--ng-model="searchNameValue"-->
                       <!--class="form-control with-danger-addon"-->
                       <!--placeholder="请输入名称..."-->
                       <!--ng-change="selectStatus(page,searchNameValue)"-->
                <!--&gt;-->
            </div>
        </div>
    </div>

    <div class="col-md-3 text-right">
        <button has-permission="content.message:edit" type="button"
                class="btn btn-info"
                data-toggle="modal"
                ng-click="open('app/pages/content/message/messageModal.html', 'lg',0,1)">
            添加消息
        </button>
    </div>
</div>

<div ba-panel style="margin-top: 10px">


    <table class="table " st-table="smartTableData">

        <thead>
        <tr class="primary">

            <td></td>
            <td>标题</td>
            <td>状态</td>
            <td>排序</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td class="table-id">
                {{$index}}
                <span style="display: none"   e-name="id"  e-required>
                              {{ item.id || '0' }}
                </span>
            </td>
            <td>{{item.title}}</td>
            <td>{{showStatus(item.status)}}</td>
            <td>{{item.orderId}}</td>
            <td>{{item.createDate | date:'longDate'}}</td>
            <td>
                <button class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="open('app/pages/content/message/messageModal.html', 'lg',item.id,2)"
                        ng-show="showButton($index,'detail')"
                >
                    详情
                </button>
                <button has-permission="content.message:edit" class="status-button btn btn-xs btn-primary "
                        data-toggle="modal"
                        ng-click="open('app/pages/content/message/messageModal.html', 'lg',item.id,3)"
                        ng-show="showButton($index,'edit')"
                >
                    编辑
                </button>



                <button has-permission="content.message:request"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(1,item.id)"
                        ng-show="showButton($index,'request')"
                >
                    提交审核
                </button>
                <button has-permission="content.message:cancel"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(0,item.id)"
                        ng-show="showButton($index,'cancel')"
                >
                    撤销审核
                </button>
                <button has-permission="content.message:apply"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(10,item.id)"
                        ng-show="showButton($index,'apply')"
                >
                    审核
                </button>
                <button has-permission="content.advertisement:release"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(4,item.id)"
                        ng-show="showButton($index,'release')"
                >
                    发布
                </button>
                <button has-permission="content.message:up"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(4,item.id)"
                        ng-show="showButton($index,'up')"
                >
                    启用
                </button>
                <button has-permission="content.message:down"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(5,item.id)"
                        ng-show="showButton($index,'down')"
                >
                    停用
                </button>
                <button has-permission="content.message:copy"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(11,item.id)"
                        ng-show="showButton($index,'copy')"
                >
                    复制
                </button>
                <button has-permission="content.message:delete" class="status-button btn btn-danger btn-xs btn-success"
                        ng-show="showButton($index,'delete')"
                        ng-click="deleteOne(item.id)">删除</button>
            </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                <input class="btn btn-primary" ng-disabled="upAble(page)" type="button" value="上一页" ng-click="btnUp(page)"/>
                {{page}}/{{totalPage}}
                <input class="btn btn-primary" ng-disabled="nextAble(page)" type="button" value="下一页" ng-click="btnNext(page)"/>
            </td>
        </tr>
        </tfoot>
    </table>
</div>