#cpu {
  width: 100%;
  height: 450px;
  margin-top: -20px;
}

#memory {
  width: 100%;
  height: 450px;
  margin-top: -20px;
}

#storage {
  width: 100%;
  height: 450px;
  margin-top: -20px;
}

#network {
  width: 100%;
  height: 450px;
  margin-top: -20px;
}