<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler  handler="com.ugms.backend.service.repository.rdbsupport.typehandler.OptionalHandler"/>
        <typeHandler  handler="com.ugms.backend.service.repository.rdbsupport.typehandler.LocalDateHandler"/>
        <typeHandler  handler="com.ugms.backend.service.repository.rdbsupport.typehandler.LocalDateTimeHandler"/>
        <typeHandler  handler="com.ugms.backend.service.repository.rdbsupport.typehandler.LocalTimeHandler"/>
        <typeHandler  handler="com.ugms.backend.service.repository.rdbsupport.typehandler.OffsetDateTimeHandler"/>
        <typeHandler  handler="com.ugms.backend.service.repository.rdbsupport.typehandler.ZonedDateTimeHandler"/>
    </typeHandlers>
</configuration>