<div class="add-row-editable-table">
    <button class="btn btn-primary" ng-click="addResource()">新增资源</button>
</div>
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <td></td>
        <td>资源名称</td>
        <td>匹配URI</td>
        <td>前端路由</td>
        <td>描述</td>
        <td>操作</td>
    </tr>
    <tr ng-repeat="resource in resources"  class="editable-row"  >
        <td >
            {{$index}}
            <span style="display: none"   e-name="id" e-form="rowform" e-required>
          {{ resource.id || '0' }}
        </span>
        </td>
        <td >
        <span editable-text="resource.name"  e-name="name" e-form="rowform" e-required  >
          {{ resource.name || 'empty' }}
        </span>
        </td>
        <td>
        <span editable-text="resource.url"  e-name="url" e-form="rowform" e-required  >
          {{ resource.url || 'empty' }}
        </span>
        </td>
        <td >
        <span editable-text="resource.state" e-name="state"  e-form="rowform" e-required  >
          {{ resource.state || 'empty' }}
        </span>
        </td>
        <td >
        <span editable-text="resource.description" e-name="description"  e-form="rowform" e-required  >
          {{ resource.description || 'empty' }}
        </span>
        </td>
        <td>
            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                  shown="inserted == resource" >
                <button type="submit" ng-click="saveResource($index)"  ng-disabled="rowform.$waiting"  class="btn btn-primary editable-table-button btn-xs">
                    保存
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                    取消
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button has-permission="users.resource:edit"  class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">编辑</button>
                <button has-permission="users.resource:delete"  class="btn btn-danger editable-table-button btn-xs" ng-click="deleteResource($index)">删除</button>
            </div>
        </td>
    </tr>
</table>
