<ui-view>
<div class="row">

    <div class="col-md-9">
        <div class="row">
            <div class="col-md-3">
                <input type="text"
                       ng-model="searchValue.value"
                       class="form-control with-danger-addon"
                       placeholder="请输入标签名称..."
                >
            </div>
            <button class="btn btn-primary" ng-click="search()">查找专栏</button>

            <button tyle="float:right" has-permission="article.article:edit" type="button"
                class="btn btn-info"
                ui-sref="article.article.add({modelId:1,op:2})"
                >
            新增专栏
            </button>
        </div>

    </div>
</div>

<div ba-panel style="margin-top: 10px">


    <table class="table table-bordered table-hover" st-table="smartTableData">

        <thead>
        <tr class="primary">

            <td></td>
            <td>标题</td>
            <td>状态</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td class="table-id">
                {{$index}}
                <span style="display: none"   e-name="id"  e-required>
                              {{ item.id || '0' }}
                </span>
            </td>
            <td>{{item.title}}</td>
            <td>{{showStatus(item.status)}}</td>
            <td>{{item.createtime | date:'longDate'}}</td>
            <td>
                <button class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="open('app/pages/article/article/articleModal.html', 'lg',item.id,2)"
                        ng-show="showButton($index,'detail')"
                >
                    详情
                </button>
                <button has-permission="article.article:edit"  class="status-button btn btn-xs btn-primary "
                        data-toggle="modal"
                        ng-click="open('app/pages/article/article/articleModal.html', 'lg',item.id,3)"
                        ng-show="showButton($index,'edit')"
                >
                    编辑
                </button>

                <button has-permission="article.article:request"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(1,item.id)"
                        ng-show="showButton($index,'request')"
                >
                    提交审核
                </button>
                <button has-permission="article.article:cancel"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(0,item.id)"
                        ng-show="showButton($index,'cancel')"
                >
                    撤销审核
                </button>
                <button has-permission="article.article:apply"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(10,item.id)"
                        ng-show="showButton($index,'apply')"
                >
                    审核
                </button>
                <button has-permission="article.article:release"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(4,item.id)"
                        ng-show="showButton($index,'release')"
                >
                    发布
                </button>
                <button has-permission="article.article:up"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(4,item.id)"
                        ng-show="showButton($index,'up')"
                >
                    启用
                </button>
                <button has-permission="article.article:down"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(5,item.id)"
                        ng-show="showButton($index,'down')"
                >
                    停用
                </button>
                <button has-permission="article.article:copy"  class="status-button btn-primary btn-xs btn "
                        data-toggle="modal"
                        ng-click="operation(11,item.id)"
                        ng-show="showButton($index,'copy')"
                >
                    复制
                </button>
                <button has-permission="article.article:delete" class="status-button btn btn-danger btn-xs btn-success"
                        ng-show="showButton($index,'delete')"
                        ng-click="deleteOne(item.id)">删除</button>
            </td>
        </tr>
        </tbody>


        <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                <input class="btn btn-primary" ng-disabled="upAble(page)" type="button" value="上一页" ng-click="btnUp(page)"/>
                {{page}}/{{totalPage}}
                <input class="btn btn-primary" ng-disabled="nextAble(page)" type="button" value="下一页" ng-click="btnNext(page)"/>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

</ui-view>