
<div class="modal-content" style="width: 1000px">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">角色-资源列表</h4>
    </div>
    <div class="horizontal-scroll" >

        <div class="widgets" >
            <div class="row">
                <div class="col-md-12">
                    <div ba-panel  ba-panel-class="with-scroll" >

                        <table class="table table-hover" st-table="permissions" >
                            <thead>
                            <tr class="sortable">
                                <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                                <th st-sort="firstName">资源名称</th>
                                <th st-sort="lastName">路由</th>
                                <th st-sort="visible">查看</th>
                                <th st-sort="edit">编辑</th>
                                <th st-sort="request">提交审核</th>
                                <th st-sort="cancel">撤销审核</th>
                                <th st-sort="apply">审核</th>
                                <th st-sort="release">发布</th>
                                <th st-sort="up">启用</th>
                                <th st-sort="down">停用</th>
                                <th st-sort="delete">删除</th>
                                <th st-sort="copy">复制</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items" class="editable-tr-wrap" >
                                <td class="table-id">
                                    {{$index}}
                                    <span style="display: none"  id="resourceId_{{$index}}" e-form="rowform" e-required>
                                    {{ item.id || '0' }} </span>
                                </td>
                                <td name="name"><span blur="cancel">{{item.name}}</span></td>
                                <td name="state"><span  blur="cancel">{{item.state}}</span></td>

                                <td name="visible">
                                    <input type="checkbox" ng-model="item.visible" id="checkboxSuccess" >
                                </td>
                                <td name="edit">
                                    <input type="checkbox" ng-model="item.edit" id="checkboxedit" >
                                </td>
                                <td name="request">
                                    <input type="checkbox" ng-model="item.request" id="checkboxrequest" >
                                </td>
                                <td name="cancel">
                                    <input type="checkbox" ng-model="item.cancel" id="checkboxcancel" >
                                </td>
                                <td name="apply">
                                    <input type="checkbox" ng-model="item.apply" id="checkboxapply" >
                                </td>
                                <td name="release">
                                    <input type="checkbox" ng-model="item.release" id="checkboxrelease" >
                                </td>
                                <td name="up">
                                    <input type="checkbox" ng-model="item.up" id="checkboxup" >
                                </td>
                                <td name="down">
                                    <input type="checkbox" ng-model="item.down" id="checkboxdown" >
                                </td>
                                <td name="delete">
                                    <input type="checkbox" ng-model="item.delete" id="checkboxdelete" >
                                </td>
                                <td name="copy">
                                    <input type="checkbox" ng-model="item.copy" id="checkboxcopy" >
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" class="text-center">
                                    <div st-pagination="" st-items-by-page="12" st-displayed-pages="5"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="save($dismiss())">保存</button>
    </div>
</div>



