
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">角色-资源列表</h4>
    </div>
    <div class="horizontal-scroll">

        <div class="widgets">
            <div class="row">
                <div class="col-md-12">
                    <div ba-panel  ba-panel-class="with-scroll">

                        <table class="table table-hover" st-table="permissions">
                            <thead>
                            <tr class="sortable">
                                <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                                <th st-sort="firstName">资源名称</th>
                                <th st-sort="lastName">路由</th>
                                <th st-sort="username">是否可见</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items" class="editable-tr-wrap" >
                                <td class="table-id">
                                    {{$index}}
                                    <span style="display: none"  id="resourceId_{{$index}}" e-form="rowform" e-required>
                                    {{ item.id || '0' }} </span>
                                </td>
                                <td name="name"><span blur="cancel">{{item.name}}</span></td>
                                <td name="state"><span  blur="cancel">{{item.state}}</span></td>

                                <td name="visible">
                                    <!--<span editable-text="item.visible" blur="cancel">{{item.visible}}</span>-->
                                    <!--<select name="visible" selectpicker="selectpicker" ng-options="s.value as s.text for s in visible" class="editable-input ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.visible" ng-change="valueChange($index)" tabindex="-98" style="">-->
                                        <!--&lt;!&ndash;<option data-hidden="true" disabled="" value="" class="" selected="selected">Select something</option>&ndash;&gt;-->
                                        <!--<option label="true" value="true">true</option>-->
                                        <!--<option label="false" value="false">false</option>-->
                                    <!--</select>-->
                                    <!--<button type="submit" ng-click="save($event,$index)" title="Submit" aria-label="Submit">save</button>-->
                                    <input type="checkbox" ng-model="item.visible" id="checkboxSuccess" >
                                    <!--<span editable-select="item.visible"  e-name="visible" e-form="rowform" e-selectpicker-->
                                          <!--e-ng-options="s.value as s.text for s in visible" blur="cancel">-->
                                            <!--{{item.visible}}-->
                                    <!--</span >-->

                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" class="text-center">
                                    <div st-pagination="" st-items-by-page="12" st-displayed-pages="5"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="save($dismiss())">保存</button>
    </div>
</div>



